.example-table-container {
  position: relative;
  min-height: 400px;
  max-height: 550px;
  overflow: auto;
}

.card {
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.example-container {
  height: 600px;
  overflow: auto;
}

table {
  width: 100%;
}

.table-row {
  height: 3.5em !important;
}

.matNoDataRow {
  text-align: center;
  padding-top: 2em;
}