<mat-card class="card">
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="7em">
      <mat-grid-tile>
        <mat-form-field appearance="fill" appearance="outline">
          <mat-label>ประเภทรางวัล</mat-label>
          <mat-select [(ngModel)]="searchLoterry.lotteryType">
            <mat-option value="1">รางวัลที่ 1</mat-option>
            <mat-option value="2">เลขหน้า 3 ตัว</mat-option>
            <mat-option value="3">เลขท้าย 3 ตัว</mat-option>
            <mat-option value="4">เลขท้าย 2 ตัว</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline" style="width: 60%;">
          <mat-label>ใส่เลขสลาก</mat-label>
          <input matInput type="text" aria-label="Number" matInput [(ngModel)]="searchLoterry.lottery" maxlength="6"
            (keypress)="onlyNumberKey($event)">
          @if (searchLoterry.lottery) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearLottery()">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline" style="width: 60%;">
          <mat-label>Select Player</mat-label>
          <input type="text" aria-label="Number" matInput [(ngModel)]="searchLoterry.player" [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option.name">{{option.name}}</mat-option>
            }
          </mat-autocomplete>
          @if (searchLoterry.player) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelectPlayer()">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions align="start" style="justify-content: center;">
    <button mat-raised-button style="margin-right: 2em;" (click)="searchButton()">ค้นหา</button>
    <button mat-raised-button style="margin-right: 2em;" (click)="resetButton()">ล้าง</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card">
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" matSort class="example-table">
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ลำดับ </th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขสลาก </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <ng-container matColumnDef="threeDigitFront">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 3 ตัวหน้า </th>
        <td mat-cell *matCellDef="let element"> {{element.threeDigitFront}} </td>
      </ng-container>

      <ng-container matColumnDef="threeDigitLast">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 3 ตัวท้าย </th>
        <td mat-cell *matCellDef="let element"> {{element.threeDigitLast}} </td>
      </ng-container>

      <ng-container matColumnDef="twoDigitLast">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 2 ตัวท้าย </th>
        <td mat-cell *matCellDef="let element"> {{element.twoDigitLast}} </td>
      </ng-container>

      <ng-container matColumnDef="playerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> เจ้าของ </th>
        <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell matNoDataRow" colspan="20">No data</td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</mat-card>