.chart{
  display:block;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.field-lottery-digit {
  width: 400px;
}
.field-select-player {
  width: 500px;
}
.panel-content {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding-top: 5%;
}
.button-register {
  width: 100px;
  height: 50px;
}



