.text-inside-grid-right {
  position: absolute;
  right: 1px;
}

.text-inside-grid-left {
  position: absolute;
  left: 3em;
}

.chart {
  display: block;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.field-lottery-digit {
  width: 400px;
}

.field-select-player {
  width: 400px;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.list-player {
  height: 230px;
  overflow-y: scroll;
}

.panel-content {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding-top: 5%;
}

.button-register {
  width: 150px;
  height: 50px;
}

.mat-form-field {
  font-size: 0.74rem;

  input {
    font-size: 1rem;
  }

  label.mat-form-field-label {
    font-size: 1rem;
    top: 1.45em;
  }

  &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  &.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.25em) scale(0.75);
    width: 133.33333%;
  }
}