
<div class="panel-content">
  <mat-form-field appearance="fill" appearance="outline">
    <mat-label>ประเภทรางวัล</mat-label>
    <mat-select >
      <mat-option value="1">รางวัลที่ 1</mat-option>
      <mat-option value="2">เลขหน้า 3 ตัว</mat-option>
      <mat-option value="3">เลขท้าย 3 ตัว</mat-option>
      <mat-option value="4">เลขท้าย 2 ตัว</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button class="button" > <a href="reward" style="text-decoration: none; color: black;">Reload</a></button>
</div>
<div style="display: flex; justify-content: center; align-items: center;margin-top: 2em;">

  <div id="wheelOfFortune">
    <canvas id="wheel" width="700" height="700"></canvas>
    <div id="spin" (click)="spinner()">SPIN</div>
  </div>
</div>










